# One Hot Encoding

In [3]:
import pandas as pd

data = pd.read_csv("test.csv",usecols=['Sex'])
data.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(data,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1